
body {
background-color: black;
}

@font-face {
  font-family: MinecraftTen-VGORe;
  src: url(minecraft-ten-font/MinecraftTen-VGORe.ttf);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto ;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    font-family: MinecraftTen-VGORe;
    color: blue;
  }

  .grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color: black; */
    background-image: url(images/minecraft-wallpaper.jpg);
    padding: 10px;
  }
  .grid-item2 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    font-family: MinecraftTen-VGORe;
    color: blue;
  }


  img {
    height: 255px;
    width: 255px;
  }

  #intro {
    font-size: 90px;
    color: burlywood;
    text-align: center;
    font-family: MinecraftTen-VGORe;
    text-shadow: 2px 2px #ff0000;
}